* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url("plant.jpg");
  background-size: 100%;
}
ul {
  padding: 0px 250px;
  list-style: none;
  display: flex;
}
li {
  padding: 20px 60px 20px 60px;
}

div {
  background-color: green;
}
